.shop-container{
    display: flex;
}

.product-container{
    width: 70%;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid lightgray;
}

.search-container{
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    line-height: 60px;
}
.search-container input{
    width: 75%;
    height: 30px;
}